[submodule "shamon"]
	path = shamon
	url = git@github.com:ista-vamos/shamon.git
[submodule "vamos-compiler"]
	path = vamos-compiler
	url = git@github.com:ista-vamos/vamos-compiler
[submodule "vamos-sources"]
	path = vamos-sources
	url = git@github.com:ista-vamos/vamos-sources
