[submodule "vamos-compiler"]
	path = vamos-compiler
	url = https://github.com/ista-vamos/vamos-compiler.git
[submodule "vamos-sources"]
	path = vamos-sources
	url = https://github.com/ista-vamos/vamos-sources.git
[submodule "vamos-buffers"]
	path = vamos-buffers
	url = https://github.com/ista-vamos/vamos-buffers
[submodule "vamos-monitors"]
	path = vamos-monitors
	url = https://github.com/ista-vamos/vamos-monitors
